<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    @RenderSection("styles", required: false)
    <style>
        #innerScreen {
            border: 1px solid rgba(73, 80, 87, 0.2);
            max-width: 600px;
            margin: 0 auto;
        }

        h3 {
            margin: 10px 0;
        }
    </style>
    <script src="~/Scripts/angular/angular.min.js"></script>
    <script src="~/Scripts/angular/app.js"></script>
    <script src="~/Scripts/angular/service.js"></script>
    <script src="~/Scripts/angular/directive.js"></script>
    <script src="~/Scripts/angular/controller.js"></script>
</head>
<body ng-app="myApp">
    <main role="main" class="container">
        @RenderBody()      
    </main><!-- /.container -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
